h1 {
  text-align: center;
}

/*header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}*/

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.button-container button {
  width: 400px;
  margin: 20px;
  color: #121212;
  background: #90b97b;
  border: none;
  padding: 10px;
  border-radius: 4px;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.button-container button:hover {
  background: #56a364;
  color: #000000;
  transition: all .2s ease;
  cursor: pointer;
}

.button-container button:active {
  border: 0;
  transition: all .2s ease;
}

.container {
  width: 1200px;
  height: 550px;
  margin: 100px auto 0;
  text-align: center;
  padding: 20px;
  background-color: #f7fcc3;
  border-radius: 8px;
  position: relative;
  left: 0;
  right: 0;
}

#imga {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#result {
  font-size: 45px;
  font-weight: 800;
  position: absolute;
  right: 40px;
  top: 20%;
}

.button_result {
  font-size: 45px;
  font-weight: 800;
  position: absolute;
  right: 20px;
  top: 70%;
}

.button_result button {
  width: 400px;
  margin: 20px;
  color: #121212;
  background: #90b97b;
  border: none;
  padding: 10px;
  border-radius: 4px;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.button_result button:hover {
  background: #56a364;
  color: #000000;
  transition: all .2s ease;
  cursor: pointer;
}

.button_result button:active {
  border: 0;
  transition: all .2s ease;
}