body {
    background-color: antiquewhite;
}

/* h1과 h2는 plum 배경색 */
.h{
   background-color: plum; 
}
/* h1의 자매인 모든 h2에 plum 배경색 */
ul{
    color: #333;
    font-size: 32px;
}

ol{
    color: #333;
    font-size: 32px;
}

.japan {
    color: crimson;
}

.leader {
    color: purple;
}

#last{
    text-decoration: overline;
}
/* 다음에 합시다 */
