@media screen and (min-width : 0px) {
    /*주의 and와 괄호를 붙이면 안됨
    괄호가 없다면 안됨
    : 대신 =을 넣으면 안됨
    : 의 양쪽을 띄어쓰면 이 아이는 됨*/
    body{/*0보다 크면 이 색으로 칠해*/
        background-color: rgb(177, 240, 240);
    }
}
/*태블릿*/
@media screen and (min-width: 541px){
    body{/*541보다 크면 이 색으로 칠해*/
        background-color: aqua;
    }
}
@media screen and (min-width: 721px){
    body{/*721보다 크면 이 색으로 칠해*/
        background-color: rgb(0, 108, 108);
    }
}

/*폰을 먼저 하는 경우
폰이 가장 작은 0부터 시작하여 전체를 칠하고
그 뒤에 탭과 컴이 덧칠되기 때문이다.

그러므로 max를 썼을때와의 순서를 반대로 해야 한다.*/