/*google font*/
  @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');


  body {
    font-family: var(--body-font);
    color: var(--body-color);
  }

  /*Variables css*/
  :root {
    /*color*/
    --first-color: #008156;
    --second-color: #efb11c;

    /*font*/
    --body-font: 'Nanum Myeongjo', serif;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.6rem;
    --font-regular: 400;
    
  }

  header {
    background-color: var(--first-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  nav {
    height: 44px;
    font-size: 30px;
  }

  .nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    /* padding-right: 16px;
    padding-left: 16px;   한번에 쓰기*/
    padding: 0 16px;
  }

  .nav.container a{
    color: aliceblue;
  }

  .nav-list{
    display: flex;
    column-gap: 80px;
    font-weight: var(--font-extra-bold);
  }

  .nav.toggle {
    font-size: var(--h2-font-size);   /*햄버거 사이즈 조금 크게 / 밑에는 안보이게*/
    visibility: hidden;
  }

  @media screen and (max-width: 540px) {
    .nav-logo {
      margin: 0 auto;
    }

    .nav-list{
      position: absolute;
      top: 44px;
      right: 0;/*양 옆 늘리기*/
      left: 0;

      flex-direction: column;
      text-align: center;
      /* align-items: center; */
      background-color: rgb(239, 177, 28, 0.4);
      backdrop-filter: blur();
      height: 0;
      overflow: hidden;   /*감춰라*/
    }

    .nav-item {
      padding: 1em 0;
      color: black; /*적용이 안됨*/
      border-bottom: 2px solid #fff;
    }

    .nav-link {
      display: block;
    }

    .nav.toggle{
      visibility: visible;
      position: absolute;
      right: 16px;
    }

    .show-menu{
      height: 170px;
    }

  }