h1 {
  text-align: center;
}
.container{
  margin: 100px auto 0;
  text-align: center;
  padding: 20px;
  background-color: #f7fcc3;
  border-radius: 8px;
  position: relative;
  left: 0;
  right: 0;
}
.button-container button {
  margin: 15px;
  color: #121212;
  background: #90b97b;
  border: none;
  padding: 10px;
  border-radius: 4px;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
}
.button-container button:hover {
  background: #56a364;
  color: #000000;
  transition: all .2s ease; /*넓이와 너비 변화 모두 transition 효과를 받음음*/
  cursor: pointer;    /*마우스 커서 바꾸기(손)*/
}

.button-container button:active {
  border: 0;
  transition: all .2s ease;
}

.button_result button {
  font-weight: 800;
  width: 250px;
  margin: 30px;
  color: #121212;
  background: #90b97b;
  border: none;
  padding: 10px;
  border-radius: 4px;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
}

.button_result button:hover {
  background: #56a364;
  color: #000000;
  transition: all .2s ease;
  cursor: pointer;
}

.button_result button:active {
  border: 0;
  transition: all .2s ease;
}

@media screen and (min-width: 0px) {
  .container {
    width: 400px;
    height: 700px;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button-container button {
    font-size: 25px;
    width: 200px;
    font-weight: 400;
  }
  #result {
    font-size: 35px;
    right: 40px;
    top: 20%;
  }
  #image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: scale-down;
    width: 500px;
    height: 300px;
  }
  .button_result {
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
  }
  .button_result button{
    font-size: 20px;
  }
}

@media screen and (min-width: 541px) {
  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px;   /*행 열 간격*/
    flex-direction: row;
  }
  .button-container button {
    width: 200px;
    margin: 15px;
    font-weight: 700;
  }
  .container {
    width: 600px;
    height: 550px;
  }
  #result {
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    transform: translate(10%, 0%);
  }
  
  #image {
    position: absolute;
    transform: translate(-90%, -50%);
    object-fit: scale-down;
    width: 450px;
    height: 300px;
  }
  .button_result {
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(0%, -70%);
  }
  .button_result button{
    font-size: 20px;
  }
}

@media screen and (min-width: 721px) {
  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
  }
  .button-container button {
    width: 400px;
    margin: 20px;
    font-weight: 700;
  }
  .container {
    width: 1200px;
    height: 550px;
  }
  #image {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    object-fit: scale-down;
    width: 600px;
    height: 450px;
  }
  #result {
    font-size: 45px;
    font-weight: 800;
    position: absolute;
    right: 12%;
    top: 20%;
  }
  
  .button_result {
    font-size: 45px;
    font-weight: 800;
    position: absolute;
    right: 0%;
    top: 75%;
  }
  .button_result button{
    font-size: 20px;
  }
}
